.text-content{
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    background: rgba(110, 110, 110, 0.2);
    padding: 15px;
    margin-top: 20px;
}
img{
    max-width: 100%;
}

#dc-href:visited{
    color: skyblue;
}

#dc-href{
    color: skyblue;
}

#cpp{
    background: linear-gradient(90deg,rgb(57, 3, 255),rgb(0, 63, 105));
}

#py{
    background: linear-gradient(90deg,rgba(1, 255, 65, 0.726),rgb(8, 90, 0));
}